@import url('https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext');
body,
input,
select,
textarea {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 14pt;
}

body {
  background-color: #eeeeee;
  background-image: url(https://subtlepatterns.com/patterns/brickwall.png);
  color: #555555;
}


/* Header */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #555555;
}

#header p {
  letter-spacing: normal;
  color: #555555;
}


/* Nav */

#nav {
  background-color: #d6d6d6;
  color: #555555;
}

#nav ul li a.active {
  background-color: #eeeeee;
  box-shadow: none;
}

#nav.alt {
  background-color: #d6d6d6;
  box-shadow: 0 2px 4px 0 #bebebe;
}

#nav ul li a:hover {
  background-color: #eeeeee;
}


/* Main */

#main {
  box-shadow: 0 3px 0 0 #cccccc;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #428bca;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #ffffff;
  color: #000000 !important;
  box-shadow: none;
  transition: all 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #ffffff;
  box-shadow: 0 3px 3px #cccccc;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #346fa1;
  box-shadow: 0 3px 3px #cccccc;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(255, 255, 255, 0.1);
  border-color: #cccccc;
  color: #555;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #428bca;
  box-shadow: 0 0 0 1px #ccc;
}

#main header.major h2:after {
  background-color: #428bca;
  background-image: none;
}


/* Czym jest measy */

.spotlight .image img {
  width: 20em;
}

.icon.style1 {
  color: #428bca;
}

#why-we > ul > li > p {
  font-size: 18px;
}


/* kluczowe cechy */

.statistics li.style1 {
  background-color: #ccccaa;
  border-right: 1px solid #b7b799;
}
.statistics li.style1:last-child {
  border-right: none;
}


/* sekcja odkrywaj */

header.major p {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

#main input[type="submit"].special,
#main input[type="reset"].special,
#main input[type="button"].special,
#main button.special,
#main .button.special {
  background-color: #428bca;
}

#main input[type="submit"].special:hover,
#main input[type="reset"].special:hover,
#main input[type="button"].special:hover,
#main button.special:hover,
#main .button.special:hover {
  background-color: #346fa1;
}


/* stopka */

#footer p {
  text-align: justify;
}

#footer > * {
  width: calc(50% - 2em);
  margin-left: 0em;
}

#footer > section:nth-child(2) {
  margin-left: 4em;
}

/*selektor i pseudoselektor nie mogą się stykać!!!*/

#contact ::-webkit-input-placeholder {
  /* Chrome */
  color: #999999 !important;
}

#contact :-ms-input-placeholder {
  /* IE 10+ */
  color: #999999 !important;
}

#contact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999 !important;
  opacity: 1 !important;
}

#contact :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #999999 !important;
  opacity: 1 !important;
}

#contact,
#contact label {
  color: #555555;
}

#contact label:before {
  border-color: #cccccc;
}

.icon.alt {
  border-color: #555555;
  color: #555555;
}

.icon.alt:hover {
  background-color: rgba(85, 85, 85, 0.3);
}

#slickSlider img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.floatfix:after {
  content: '';
  display: block;
  clear: both;
}

.what-is {
  float: left;
  width: 50%;
}

.statistics li {
  padding: 1em 0.5em;
}

/*
  MEDIA QUERY: 980 px
*/

@media screen and (max-width: 980px) {
  #footer > *,
  #footer > section:nth-child(2) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3em;
  }
  #social {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #footer .copyright {
    text-align: center; 
  }
  #nav ul li a {
    padding: 0 0.5em;
  }
}

/*
  MEDIA QUERY: 736 px
*/

@media screen and (max-width: 736px) {
  .what-is {
    width: 100%;
    float: none;
  }
  #slickSlider {
    display: none;
  }
  #intro h2 {
    text-align: center;
  }
  #intro h2:after {
    margin: 0.7em auto 1em;
  }
  #nav,
  #nav ul li,
  #nav ul li a {
    display: block;
    position: static;
    margin-bottom: 1em;
    max-width: 100%;
  }
  #nav.alt {
    width: calc(100% - 4em);
  }
}

/*
  MEDIA QUERY: 480 px
*/
@media screen and (max-width: 480px) {
  #nav.alt {
    width: calc(100% - 2em);
  }
}

